{% extends "base.twig" %}

{% block content %}
	<section id="banner">
		<div class="content">
			<header>
				{#dump(homepage)#}
				<h1>{{homepage.title}}</h1>
				<p>{{homepage.post_excerpt}}</p>
			</header>
			<div>
				{% set paragraphs = homepage.content|split('</p>') %}
				{% set first_paragraph = paragraphs|first ~ '</p>' %}
				{{ first_paragraph|raw }}
			</div>
			<ul class="actions">
				<li><a href="{{homepage.link}}" class="button big">More</a></li>
			</ul>
		</div>
		<span class="image object">
			<img alt="{{homepage.title}}"
				src="{{ homepage.thumbnail.src|resize(648, 477) }}"
				srcset="{{ homepage.thumbnail.src|resize(648, 477)|retina(1) }} 1x,
				{{ homepage.thumbnail.src|resize(648, 477)|retina(2) }}  2x,
				{{ homepage.thumbnail.src|resize(648, 477)|retina(3) }}  3x,
				{{ homepage.thumbnail.src|resize(648, 477)|retina(4) }}  4x">
		</span>
	</section>

	{% include "tease-list.twig" with {posts:posts} %}

	{# for post in posts #}
		{# include ['tease-'~post.post_type~'.twig', 'tease.twig'] #}
	{# endfor #}

	
	{# include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } #}


	
{% endblock %}
