{% extends "base.twig" %}

{% block head %}
	<!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>{{homepage.title}}</title>
    <!-- Search Engine -->
    <meta name="description" content="{{homepage.post_excerpt}}">
    <meta name="image" content="{{homepage.thumbnail.src}}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{homepage.title}}">
    <meta itemprop="description" content="{{homepage.post_excerpt}}">
    <meta itemprop="image" content="{{homepage.thumbnail.src}}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{homepage.title}}">
    <meta name="twitter:description" content="{{homepage.post_excerpt}}">
    <meta name="twitter:image:src" content="{{homepage.thumbnail.src}}">
    <!-- Twitter - Article -->
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{homepage.title}}">
    <meta name="og:description" content="{{homepage.post_excerpt}}">
    <meta name="og:image" content="{{homepage.thumbnail.src}}">
    <meta name="og:url" content="{{ site.link }}">
    <meta name="og:site_name" content="{{site.name}}">
	<meta name="og:type" content="website">
    <!-- Open Graph - Article -->
    <meta name="article:author" content="{{site.name}}">
{% endblock %}


{% block content %}
	<section id="banner">
		<div class="content">
			<header>
				{#dump(homepage)#}
				<h1>{{homepage.title}}</h1>
				<p>{{homepage.post_excerpt}}</p>
			</header>
			<div>
				{% set paragraphs = homepage.content|split('</p>') %}
				{% set first_paragraph = paragraphs|first ~ '</p>' %}
				{{ first_paragraph|raw }}
			</div>
			<ul class="actions">
				<li><a href="{{homepage.link}}" class="button big">More</a></li>
			</ul>
		</div>
		<span class="image object">
			<img alt="{{homepage.title}}"
				src="{{ homepage.thumbnail.src|resize(648, 477) }}"
				srcset="{{ homepage.thumbnail.src|resize(648, 477)|retina(1) }} 1x,
				{{ homepage.thumbnail.src|resize(648, 477)|retina(2) }}  2x,
				{{ homepage.thumbnail.src|resize(648, 477)|retina(3) }}  3x,
				{{ homepage.thumbnail.src|resize(648, 477)|retina(4) }}  4x">
		</span>
	</section>

	{% include "tease-list.twig" with {posts:posts} %}

	{# for post in posts #}
		{# include ['tease-'~post.post_type~'.twig', 'tease.twig'] #}
	{# endfor #}

	
	{# include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } #}


	
{% endblock %}
