{% extends "base.twig" %}

{% block content %}
	<section class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
		<header class="main">
			<h1>{{post.title}}</h1>
		</header>
		<span class="image main"><img src="{{post.thumbnail.src}}" alt="{{post.title}}" /></span>
		{{post.content}}
	</section>

	{% if (not post.comment_status == "closed") or (post.comments.count > 0) %}
		<section class="comment-box">
			<!-- comments -->
			<div class="comments">
				{% if post.comments %}
				<h2> Comments </h3>
				{% for cmt in post.comments %}
					{% include "comment.twig" with {comment:cmt} %}
				{% endfor %}
				{% endif %}
			</div>

		</section>

		<section>
			{% if post.comment_status == "closed" %}
				<p> comments for this post are closed </p>
			{% else %}
				<!-- comment form -->
				{% include "comment-form.twig" %}
			{% endif %}
		</section>
	{% endif %}
		
	
{% endblock %}
