<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
	{% block content %}
		{% if post.get_thumbnail %}
			<a href="{{post.link}}" class="image"><img src="{{post.thumbnail.src}}" alt="{{post.title}}" /></a>
		{% endif %}
		<h3>{{post.title}}</h3>
		<p>{{post.preview}}</p>
		<ul class="actions">
			<li><a href="{{post.link}}" class="button">More</a></li>
		</ul>
	{% endblock %}
</article>